{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "ie": "6"
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}